#jinja2: lstrip_blocks: "True"
# {{ ansible_managed }}
# ansible role at {{ matrix_ansible_url }}
###########################################
---
version: '3.6'

services:
  synapse:
    image: {{ matrix_synapse_image|string|to_json }}
    entrypoint: python
    restart: always
{% if matrix_synapse_aws_log_group %}
    logging:
      driver: awslogs
      options:
        awslogs-region: {{ matrix_synapse_aws_region }}
        awslogs-group: {{ matrix_synapse_aws_log_group }}
        awslogs-create-group: "false"
{% else %}
    logging:
      driver: "{{ matrix_docker_logging_driver }}"
{% endif %}
    user: "{{ matrix_user_uid }}:{{ matrix_user_gid }}"
    cap_drop:
      - ALL
    command: ["-m", "synapse.app.homeserver", "-c", "/data/homeserver.yaml"]
    read_only: true
    ports:
      - "{{ matrix_synapse_external_bind_ip }}:{{ matrix_synapse_container_client_api_host_bind_port }}:8008"
{% if matrix_synapse_federation_enabled and matrix_synapse_tls_federation_listener_enabled and matrix_synapse_container_federation_api_tls_host_bind_port %}
      - "{{ matrix_synapse_external_bind_ip }}:{{ matrix_synapse_container_federation_api_tls_host_bind_port }}:8448"
{% endif %}
{% if matrix_synapse_federation_enabled and matrix_synapse_container_federation_api_plain_host_bind_port %}
      - "{{ matrix_synapse_external_bind_ip }}:{{ matrix_synapse_container_federation_api_plain_host_bind_port }}:8048"
{% endif %}
{% if matrix_synapse_metrics_enabled and matrix_synapse_container_metrics_api_host_bind_port %}
      - "{{ matrix_synapse_metrics_bind_ip }}:{{ matrix_synapse_container_metrics_api_host_bind_port }}:{{ matrix_synapse_metrics_port }}"
{% endif %}
{% if matrix_synapse_manhole_enabled and matrix_synapse_container_manhole_api_host_bind_port %}
      - "{{ matrix_synapse_manhole_bind_ip }}:{{ matrix_synapse_container_manhole_api_host_bind_port }}:9000"
{% endif %}
    volumes:
      - type: bind
        source: /etc/ssl/certs/ca-certificates.crt
        target: /ca.crt
        read_only: true
      - type: bind
        source: {{ matrix_synapse_config_dir_path|string|to_json }}
        target: /data
        read_only: true
      - type: tmpfs
        target: /tmp
        tmpfs:
          size: {{ matrix_synapse_tmp_directory_size_mb|int|to_json }}m
      - type: bind
        source: {{ matrix_synapse_storage_path|string|to_json }}
        target: /matrix-media-store-parent
        read_only: false
        bind:
          propagation: slave
    environment:
      UID: "{{ matrix_user_uid }}"
      GID: "{{ matrix_user_gid }}"
      PGSSLMODE: verify-full
      PGSSLROOTCERT: /ca.crt

  ma1sd:
    image: {{ matrix_ma1sd_image|string|to_json }}
    restart: always
    tmpfs: /tmp:rw,exec,nosuid,size=10m
{% if matrix_ma1sd_aws_log_group %}
    logging:
      driver: awslogs
      options:
        awslogs-region: {{ matrix_ma1sd_aws_region }}
        awslogs-group: {{ matrix_ma1sd_aws_log_group }}
        awslogs-create-group: "false"
{% else %}
    logging:
      driver: "{{ matrix_docker_logging_driver }}"
{% endif %}
    user: "{{ matrix_user_uid }}:{{ matrix_user_gid }}"
    cap_drop:
      - ALL
    read_only: true
{% if matrix_ma1sd_container_http_host_bind_port %}
    ports:
      - {{ matrix_ma1sd_container_http_host_bind_port }}:8090
{% endif %}
    volumes:
      - type: bind
        source: /etc/ssl/certs/ca-certificates.crt
        target: /ca.crt
        read_only: true
      - type: bind
        source: {{ matrix_ma1sd_config_path|string|to_json }}
        target: /etc/ma1sd
        read_only: true
      - type: bind
        source: {{ matrix_ma1sd_data_path|string|to_json }}
        target: /var/ma1sd
        read_only: false
    environment:
{% if matrix_ma1sd_verbose_logging %}
      MA1SD_LOG_LEVEL: debug
{% else %}
      MA1SD_LOG_LEVEL: warn
{% endif %}
      PGSSLMODE: verify-full
      PGSSLROOTCERT: /ca.crt

{% if matrix_sygnal_enabled %}
  sygnal:
    image: {{ matrix_sygnal_image|string|to_json }}
    restart: always
    tmpfs: /tmp:rw,exec,nosuid,size=10m
{% if matrix_ma1sd_aws_log_group %}
    logging:
      driver: awslogs
      options:
        awslogs-region: {{ matrix_ma1sd_aws_region }}
        awslogs-group: {{ matrix_ma1sd_aws_log_group }}
        awslogs-create-group: "false"
{% else %}
    logging:
      driver: "{{ matrix_docker_logging_driver }}"
{% endif %}
    user: "{{ matrix_user_uid }}:{{ matrix_user_gid }}"
    cap_drop:
      - ALL
    read_only: true
    ports:
      - {{ matrix_sygnal_container_http_host_bind_port }}:6000
{% if matrix_sygnal_metrics_prometheus_enabled %}
      - {{ matrix_sygnal_container_metrics_host_bind_port }}:8000
{% endif %}
    volumes:
      - type: bind
        source: {{ matrix_sygnal_config_path|string|to_json }}
        target: /config
        read_only: true
      - type: bind
        source: {{ matrix_sygnal_data_path|string|to_json }}
        target: /data
        read_only: false
    environment:
      SYGNAL_CONF: /config/sygnal.yaml
{% endif %}


{% if matrix_docker_network is defined and matrix_docker_network | length > 0 %}
networks:
  default:
    external:
      name: {{ matrix_docker_network|string|to_json }}
{% endif %}
